.shopify-section-group-footer-group {
  position: fixed;
  bottom: -100px;
  z-index: 0;
  width: 100%;
  pointer-events: none;
  transition: bottom 0.3s ease-in-out;

  &.is-visible {
    pointer-events: all;
    z-index: 1;
    bottom: 100px;

    @media (min-width: 768px) {
      bottom: 0;
    }
  }
}

.shopify-section--footer {
  display: block !important;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: var(--color-white);

  @media (min-width: 901px) {
    display: none !important;
  }
}

.ft-Footer {
  width: 100%;
  height: auto;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  background-color: var(--Color_Primary, #ffffff);
  color: var(--Color_Secondary, #000000);
  padding: 40px 0 30px;

  @media (min-width: 768px) {
    padding: 33px 0 37px;
  }

  @media (min-width: 901px) {
    padding: 60px 0 40px;
  }

  .ft-Footer_Inner {
    width: 100%;
    padding-bottom: 0;
  }

  .ft-Footer_Body {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }

    @media (min-width: 901px) {
      gap: 30px;
    }
  }

  .ft-Footer_Link,
  .ft-Footer_Text {
    font-family: var(--font-family-primary);
    font-size: var(--type-14-size);
    font-weight: var(--font-weight-medium);
    line-height: var(--type-14-line-height);
    text-transform: capitalize;
  }

  .ft-Footer_Items {
    display: flex;
    flex-direction: column;
    gap: 18px;

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
    }

    @media (min-width: 901px) {
      flex-wrap: nowrap;
      gap: 30px;
    }
  }

  .ft-Footer_Navigation,
  .ft-Footer_Text {
    margin: 0;
  }
}