.featured-image {
  width: 100%;
}

.featured-image__inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 163px 50px 100px 50px;
}

.featured-image__media {
  display: block;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.featured-image__media,
.featured-image__text a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.featured-image__media {
  display: block;
}

.featured-image__image {
  display: block;
  width: 100%;
  height: auto;
}

.featured-image__content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  max-width: 1180px;
  margin: 24px auto 0;
}

.featured-image__text {
  font-family: var(--font-family-primary);
  font-size: var(--type-14-size);
  font-weight: var(--font-weight-medium);
  line-height: var(--type-14-line-height);
  text-align: center;
}

.featured-image__text--mobile-top {
  display: none;
}

@media screen and (max-width: 1440px) {
  .featured-image__inner {
    padding: 200px 30px 137px 30px;
  }

  .featured-image__media,
  .featured-image__content {
    max-width: 977px;
  }
}

@media screen and (max-width: 767px) {
  .featured-image__inner {
    max-width: none;
    padding: 70px 40px;
  }

  .featured-image__text--desktop {
    display: none;
  }

  .featured-image__text--mobile-top {
    display: block;
    margin-bottom: 86px;
    text-align: center;
  }

  .featured-image__media {
    width: 100%;
    max-width: 596px;
    margin: 0 auto;
  }

  .featured-image__content {
    display: block;
    width: 100%;
    max-width: 596px;
    margin: 81px auto 0;
  }

  .featured-image__content .featured-image__text {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .featured-image__inner {
    padding: 50px 25px;
  }

  .featured-image__text--mobile-top {
    margin-bottom: 40px;
  }

  .featured-image__content {
    margin-top: 40px;
  }
}