.featured-image {
  display: block;
  width: 100%;
  min-height: 100dvh;
}

.featured-image__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 325px;
  min-height: 100dvh;
  margin: 0 auto;
  padding: 40px 25px 48px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    max-width: 646px;
    padding: 70px 25px;
  }

  @media (min-width: 910px) {
    max-width: 1027px;
  }

  @media (min-width: 1440px) {
    padding: 200px 25px 140px;
    justify-content: center;
  }

  @media (min-width: 1600px) {
    max-width: 1230px;
    padding: 164px 25px;
  }
}

.featured-image__media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: inherit;
  text-decoration: none;

  picture {
    display: contents;
  }
}

.featured-image__image {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 275 / 431;
  object-fit: cover;
  object-position: top;

  @media (min-width: 768px) {
    aspect-ratio: 596 / 843;
  }

  @media (min-width: 901px) {
    aspect-ratio: 977 / 623;
  }

  @media (min-width: 1920px) {
    aspect-ratio: 1180 / 753;
  }
}

.featured-image__content {
  display: block;
  width: 100%;
  margin-top: 40px;

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.featured-image__text {
  text-align: center;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.featured-image__text--desktop {
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }
}

.featured-image__text--mobile-top {
  display: block;
  margin-bottom: 40px;
  text-align: center;

  @media (min-width: 1200px) {
    display: none;
  }
}